<div class="row">
  <% events.each do |event|  %>
    <div class="col event-card">
      <img src="https://images.unsplash.com/photo-1502759683299-cdcd6974244f?auto=format&fit=crop&w=440&h=220&q=60" class="img-responsive">
      <%= link_to "#{event.name}", event_path(event) %>
    </div>
  <% end %>
</div>