<% title("Home Page") %>
<div class="container-fluid">
  <% @events.each_slice(3) do |events| %>
    <%= render partial: 'event_card', locals: { events: events} %>
  <% end %>
  <%= will_paginate @events, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>
