<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a href="#" class="navbar-brand">Brand</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav">
      <a href="#" class="nav-item nav-link active">Home</a>
    </div>
    <div class="navbar-nav ml-auto">
      <% if !user_signed_in? %>
        <li><%= link_to "Sign in", new_user_session_path, class: 'btn btn-light' %></li>
        <li><%= link_to "Register", new_user_registration_path, class: 'btn btn-light' %></li>
        <% else %>
        <li><%= link_to "Log ", destroy_user_session_path, class: 'btn btn-light', data:{method: :delete} %></li>
      <% end %>
    </div>
  </div>
</nav>